body{
  font-family: Arial, Helvetica, sans-serif;
}

.relax{
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/154/307/original/pexels-walidphotoz-847402.jpg?1736386170);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width:100%;
}

.relax footer{
 color:#f0ece2;
}

.relax button{
background:#f0ece2;
font-family: "Poppins", serif;
font-size: 15px;
margin:15px;
opacity:0.8;
}

.relax .Weather{
  opacity: 0.6;
  color:#616161;
}

